body {
  font-family: 'Oswald', sans-serif;
}

.titleheader {
  text-align: center;
  font-size: 40;
  font-size: 14em;
}

.titlesub {
  text-align: center;
  font-size: 20;
  font-size: 7em;
}

.sectionhead {
  font-size: 10;
  font-size: 6em;
}

.sectiontext {
  font-size: 30;
}

.bannertitle {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  color: rgb(255,255,255);
}

.bannertitle img {
  width: 100%;
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(-50%, -50%);   /* 4 */
  left: 50%;
  margin-right: -50%;
  z-index: -10;
}

.sidebar {
    width: 178px;
    float:left;
    font-size: 30;
    margin-left: 90;
}

.main {
  margin-left:280;
}

a:link {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #474747;
}

a:active {
    text-decoration: none;
    color: #474747;
}
